/* #region debug */
.debug header {
    /* background-color: orange; */
}

.debug main {
    height: 6000px;
    /* background-color: brown; */
}

.debug footer {
    height: 150px;
}

/* #endregion debug */

/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* border: 1px dashed;
    debug only */
}

:root {
    --dropbox-primary: rgba(0, 97, 255, 1);
    --dropbox-secondary: rgba(180, 208, 231, 1);
    --dropbox-dark: rgba(0, 0, 0, 1);
    --dropbox-lighter: rgba(255, 255, 255, 1);
    --dropbox-light: rgba(245, 245, 245, 1);
    /* logos-palet */
    --designit-logo: rgba(162, 211, 155, 1);
    --arizona-uni-logo: rgba(97, 8, 43, 1);
    --florida-uni-logo: rgba(0, 147, 206, 1);
    --topps-logo: rgba(255, 28, 28, 1);
    --bicycle-logo: rgba(213, 0, 31, 1);
    --hearst-logo: rgba(180, 208, 231, 1);
    --lonely-logo: rgba(13, 36, 129, 1);
    --outdoor-logo: rgba(255, 216, 48, 1);

}

h1 {
    text-align: center;
    font-size: 60px;
    padding: 2rem 0;
}

h3 {
    padding: 1rem 0;
}

footer {
    background-color: var(--dropbox-dark);
    color: var(--dropbox-lighter);
}

.container>h2 {
    font-size: 50px;
    padding-bottom: 3rem;
}
.small-container h2{
    font-size: 50px;
    padding: 6rem 0;
}
/* #endregion common */

/* #region utilities */
.btn {
    background-color: var(--dropbox-primary);
    color: var(--dropbox-lighter);
    padding: 0.4rem 0.9rem;
    /* margin-left:-1rem ;per avvicinare "accedi" a "inizia" nav */
}

.d-flex {
    display: flex;
}

.big-container {
    width: 80%;
    margin: auto;
}

.container {
    width: 60%;
    margin: auto;
}
.small-container{
    width: 50%;
    margin: auto;
}
.gap-05 {
    gap: 0.5rem;
    padding-bottom: 2rem;
}

.row {
    display: flex;
    gap: 3rem;
    padding: 2rem 0;
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}

.col-4>img {
    width: 100%;
}

/* #endregion utilities */

/* #region header */

.left-menu {
    width: 50%;
    display: flex;
    gap: 2rem;
    padding: 0.8rem 1rem;
    align-items: center;
}

.right-menu {
    width: 50%;
    display: flex;
    gap: 2rem;
    padding: 0.8rem 1rem;
    justify-content: end;
    align-items: center;
}

.logo {
    width: 100px;
    height: 20px;
}

/* #endregion header */

/* #region jumbotron */

.jumbotron {
    height: 670px;
    background-color: var(--dropbox-secondary);
}


.jumbo {
    width: 100%;
}

.btn-jumbo {
    padding: 2rem 0;
}

.arrow {
    font-size: 50px;
    padding-top: 6rem;
}

.jumbo-speach {
    font-size: 18px;
}

/* #endregion jumbotron */

/* #region business */
.business {
    padding-top: 12rem;
}

.selection {
    /* padding-top: 1rem; */
}

.card {
    border: 1px solid lightgray;
}

.main-card {
    display: flex;
    flex-direction: column;
}

.category {
    text-align: center;
    border: 1px solid lightgray;
    padding: 0.7rem 0;
}

.price {
    padding-bottom: 4rem;
}

.btn-card {
    text-align: center;
    padding: 5rem 0;
}

.main-card {
    padding: 1rem 2rem;
    height: 350px;
}

.shop-now {
    padding: 0 2rem;
}

.footer-card {
    padding: 4rem 2rem;
    height: 600px;
}

.check-color {
    color: var(--dropbox-primary);
}

.list-check {
    padding-top: 2rem;
}

/* card orizontal */
.main-card-orizontal {
    display: flex;
    align-items: center;

}

.orizontal-card-case {
    border: 1px solid lightgray;
}

.left-card {
    width: 70%;
    padding: 0 2rem;
}

.right-card {
    width: 30%;
    text-align: center;
}

.footer-card-oriz {
    padding: 3rem 2rem;
}

/* #endregion business */

/* #region partner */
.partner {
    padding: 8rem 0;
}

.partner-img {
    width: 100%;
    padding-right: 4rem;
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.partner-title {
    padding-top: 4rem;
}

.partner-speach {
    padding: 1rem 0 3rem 0;
}

.btn-partner {
    border: 1px solid;
    padding: 0.4rem 1rem;
}

/* #endregion partner */

/* #region operations */
/* #endregion operations */

/* #region Dropbox-util */

.dropbox-util {
    padding: 4rem 0;
}

/* #endregion Dropbox-util */

/* #region logos */
.left,
.center,
.right {
    width: calc((100% / 12) * 4);
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1;
}


.logos {
    display: flex;
}

.logo-box>img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    filter: invert(100%);

}

.logo-box {
    width: 50%;
    aspect-ratio: 1;
    align-items: center;
    display: flex;
    padding: 4rem;
}

.center {
    background-color: var(--dropbox-light);
    padding: 2rem;
}

.center img {
    width: 50%;
    padding-top: 2rem
}

.center p {
    padding-bottom: 2rem;
    font-size: 18px
}

.designit {
    background-color: var(--designit-logo);

}

.arizona-uni {
    background-color: var(--arizona-uni-logo);
}

.florida-uni {
    background-color: var(--florida-uni-logo);
}

.topps {
    background-color: var(--topps-logo);
}

.bicycle {
    background-color: var(--bicycle-logo);
}

.hearts {
    background-color: var(--hearst-logo);
}

.lonely {
    background-color: var(--lonely-logo);
}

.outdoor {
    background-color: var(--outdoor-logo);
}

/* #endregion logos */

/* #region call-to-action*/

.btn-call-to-action{ 
    background-color: var(--dropbox-light);
    padding: 0.5rem 1rem;
}

.call-to-action{
    background-color: var(--dropbox-secondary);
}
.trial{
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}
/* #endregion call-to-action*/