/* #region debug */
.debug header {
    /* background-color: orange; */
}

.debug main {
    height: 4000px;
    /* background-color: brown; */
}

.debug footer {
    height: 150px;
}

/* #endregion debug */

/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* border: 1px dashed;
    debug only */
}

:root {
    --dropbox-primary: rgba(0, 97, 255, 1);
    --dropbox-secondary: rgba(180, 208, 231, 1);
    --dropbox-dark: rgba(0, 0, 0, 1);
    --dropbox-lighter: rgba(255, 255, 255, 1);
}

h1 {
    text-align: center;
    font-size: 60px;
    padding: 2rem 0;
}

h3 {
    padding: 1rem 0;
}

footer {
    background-color: var(--dropbox-dark);
    color: var(--dropbox-lighter);
}

/* #endregion common */

/* #region utilities */
.btn {
    background-color: var(--dropbox-primary);
    color: var(--dropbox-lighter);
    padding: 0.4rem 0.9rem;
    /* margin-left:-1rem ;per avvicinare "accedi" a "inizia" nav */
}

.d-flex {
    display: flex;
}

.big-container {
    width: 80%;
    margin: auto;
}

.container {
    width: 60%;
    margin: auto;
}

.gap-05 {
    gap: 0.5rem;
    padding-bottom: 2rem;
}

/* #endregion utilities */

/* #region header */

.left-menu {
    width: 50%;
    display: flex;
    gap: 2rem;
    padding: 0.8rem 1rem;
    align-items: center;
}

.right-menu {
    width: 50%;
    display: flex;
    gap: 2rem;
    padding: 0.8rem 1rem;
    justify-content: end;
    align-items: center;
}

.logo {
    width: 100px;
    height: 20px;
}

/* #endregion header */

/* #region jumbotron */

.jumbotron {
    height: 670px;
    background-color: var(--dropbox-secondary);
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}

.jumbo {
    width: 100%;
}

.btn-jumbo {
    padding: 2rem 0;
}

.arrow {
    font-size: 50px;
    padding-top: 6rem;
}

.jumbo-speach {
    font-size: 18px;
}

/* #endregion jumbotron */

/* #region business */
.business {
    padding-top: 12rem;
}

.selection {
    padding: 2rem 0;
}

.row {
    display: flex;
    gap: 3rem;
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.card {
    margin: 2rem 0;
    border: 1px solid lightgray;
}

.main-card {
    display: flex;
    flex-direction: column;
}

.category {
    text-align: center;
    border: 1px solid lightgray;
    padding: 0.7rem 0;
}

.price {
    padding-bottom: 4rem;
}

.btn-card {
    text-align: center;
    padding: 5rem 0;
}

.main-card {
    padding: 1rem 2rem;
    height: 350px;
}

.shop-now {
    padding: 0 2rem;
}

.footer-card {
    padding: 4rem 2rem;
    height: 600px;
}

.check-color {
    color: var(--dropbox-primary);
}

.list-check {
    padding-top: 2rem;
}

/* card orizontal */
.main-card-orizontal {
    display: flex;
    align-items: center;

}

.orizontal-card-case {
    border: 1px solid lightgray;
}

.left-card {
    width: 70%;
    padding: 0 2rem;
}

.right-card {
    width: 30%;
    text-align: center;
}

.footer-card-oriz {
    padding: 3rem 2rem;
}

/* #endregion business */

/* #region partner */
.partner{
    padding: 8rem 0;
}
.partner-img{
    width: 100%;
    padding-right: 4rem;
}
.col-8{
    width: calc((100% / 12) * 8);
}
.partner-title{
    padding-top: 4rem;
}
.partner-speach{
    padding: 1rem 0 3rem 0;
}
.btn-partner{
    border: 1px solid;
    padding: 0.4rem 1rem;
}
/* #endregion partner */